

@media screen and (min-width:1440px){
  main.main-content{
    margin:0 auto;
    width: 100vw; 
}
footer{
    font-size: 5rem;
}
}

@media screen and (max-width:920px){
    .d-grid{
        grid-template-columns: repeat(2,1fr);
    }
    input[type="button"]{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .menu li {
        display: none;
    }
    .d-flex li.logo{
        width: 100%;
        text-align: center;
    }
    .wrapper-title h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper-title h1 span.mr-title{
        padding: 3px 16px;
    }
    .d-grid{
        grid-template-columns: 1fr;
    }
    .house-card-content p{
        width: 100%;
        text-align: center;
    }
    input[type="button"]{
        width: 100%;
    }
    footer{
        font-size: .6rem;
    }
}
/* .main-content{
    margin: inherit auto;
    width: 100%; 
} */